<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cydroid.longscreenshot"
    android:sharedUserId="android.uid.systemui"
    android:versionCode="80101012"
    android:versionName="8.1.1.am">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        android:hardwareAccelerated="true">

        <service 
            android:name=".ScreenShotService"
            android:exported="true"/>       
	    <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cydroid.longscreenshot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
    
</manifest>
