<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lyc.newtestapplication.newtestapplication">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.Camera"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".FullscreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|mcc|mnc"
                android:label="@string/app_name"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AboutSurfaceView.SurfaceViewTestActivity"/>
        <activity
                android:name=".DialogTest.DialogTestActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|mcc|mnc"/>
        <activity android:name=".BaseActivity"/>
        <activity
                android:name=".VibrateDemo.VibratorDemoActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_vibrator_demo"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity android:name=".ViewModelTest.ViewModelTestActivity">
        </activity>
        <activity
                android:name=".LifeBalance.LifeBalanceLaunchActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:icon="@mipmap/ic_launcher_lifebalance"
                android:label="@string/title_activity_life_balance_launch"
                android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LifeBalance.FunctionItemsListActivity"
                android:label="@string/title_activity_function_items_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>